<!-- The Side Bar -->
<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-center">
  <header class="profile-wrapper">

    {% capture _avatar_src %}
        {{ '/assets/image/profile.jpeg' | relative_url }}
    {% endcapture %}

    <a href="{{ '/' | relative_url }}" id="avatar">
      <img
        class="avatar-img"
        src="{{ _avatar_src | strip }}"
        alt="avatar"
        onerror="this.src='{{ '/assets/image/profile.jpeg' | relative_url }}'">
    </a>

    <!-- 사이트 이름과 한 줄 소개 -->
    <a class="sidebar-site-title d-block" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <p class="sidebar-site-subtitle mb-0">{{ site.tagline | default: site.description }}</p>
    </p>

  </header>

  <div class="sidebar-bottom d-flex flex-wrap align-items-center w-100">
    {% unless site.theme_mode %}
      <button type="button" class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle">
        <i class="fas fa-adjust"></i>
      </button>
      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {%- assign url = null -%}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- unless site[entry.type].username -%}{%- continue -%}{%- endunless -%}
          {%- capture url -%}https://{{ entry.type }}.com/{{ site[entry.type].username }}{%- endcapture -%}
        {% when 'email' %}
          {%- unless site.social.email -%}{%- continue -%}{%- endunless -%}
          {%- assign email = site.social.email | split: '@' -%}
          {%- capture url -%}javascript:location.href='mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@'){%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a href="{{ url }}" aria-label="{{ entry.type }}" target="_blank" rel="noopener noreferrer">
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</aside>